.footer{
   
    background: rgb(15, 7, 21);
    padding: 50px 0px 50px 0px;
    
}
.first-part{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    font-family: cursive;
    height: 60px;
    width: 60px;
    margin: 0px auto;

}
.first-part img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   padding: 20px;
}
.second-part{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    
    
}
.second-part span{
    display: inline;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}
.second-part span::after{
    content: "";
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background: rgb(119, 33, 184);
    position: absolute;
    transition: all 0.3s ease-in-out;

}
.second-part span:hover::after{
    width: 100%;
}
.third-part{
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(119, 33, 184);
    background: rgb(15, 7, 21);
}
@media (max-width: 720px){
    .second-part span{
        font-size: 0.7rem;
        gap: 10px;
        flex-wrap: wrap;
    }
    .first-part{
        width: 20px;
        height: 20px;
    }
    .footer{
        padding-bottom: 20px;
    }
    .third-part{
        margin-bottom: 20px;
    }
}
